svg {
    stroke: black;
    stroke-width: 1px;
}
svg.played svg {
    --letter-colour-1: #4d9761;
    --letter-colour-2: #769883;

}

svg.comp svg {
    --letter-colour-1: #84fba5;
    --letter-colour-2: #c8fddc;

}

svg.ex svg {
    --letter-colour-1: #cb53f7;
    --letter-colour-2: #e9bbfb;

}

svg.uc svg {
    --letter-colour-1: #eb54a8;
    --letter-colour-2: #f5c0df;

}

svg.puc svg {
    --letter-colour-1: #fefd69;
    --letter-colour-2: #fefebc;
}

svg.played svg.clear-hexagon {
    --mark-colour-stroke-1: #4b9560;
    --mark-colour-stroke-2: #3a754a;
}

svg.comp svg.clear-hexagon {
    --mark-colour-stroke-1: #84fb9f;
    --mark-colour-stroke-2: #63c47d;
}

svg.ex svg.clear-hexagon {
    --mark-colour-stroke-1: #c64af2;
    --mark-colour-stroke-2: #9d39c0;
}

svg.uc svg.clear-hexagon {
    --mark-colour-stroke-1: #e850a3;
    --mark-colour-stroke-2: #b73e81;
}

svg.puc svg.clear-hexagon {
    --mark-colour-stroke-1: #fbfa65;
    --mark-colour-stroke-2: #787729;
}

svg.clear-hexagon {
    --mark-outer-stroke: #949494;
    --mark-outer-fill: #596a5f;
    --mark-grey-gradient-1: #413049;
    --mark-grey-gradient-2: #110d14;
}