.difficulty {
    display: flex;
}

#difficulty-number {
    fill: white;
    font-size: 48px;
    font-family: "CommadorExtended", sans-serif;
    text-Anchor: middle;
}

.difficulty text {
    font-size: 14px;
    font-family: "CommadorExtended", sans-serif;
    filter: url(#subtle-white-outline);
}

text.novice {
    fill: #4d0093;
}
text.advanced {
    fill: #ffaf1f;
}
text.exhaust {
    fill: #AB2020;
}
text.maximum {
    fill: #999999;
}
text.infinite {
    fill: #b116c3;
}
text.gravity {
    fill: #c87c17;
}
text.heavenly {
    fill: #1676aa;
}
text.vivid {
    fill: #cf15cc;
}
text.exceed {

}

svg.novice {
    --colour-stroke-1: #4d0093;
    --colour-stroke-2: #4d0093;
    --colour-stroke-3: #5f2c8f;
}

svg.advanced {
    --colour-stroke-1: #ffaf1f;
    --colour-stroke-2: #ffaf1f;
    --colour-stroke-3: #ffbf51;
}

svg.exhaust {
    --colour-stroke-1: #AB0000;
    --colour-stroke-2: #AB2020;
    --colour-stroke-3: #AB4040;
}

svg.maximum {
    --colour-stroke-1: #777777;
    --colour-stroke-2: #999999;
    --colour-stroke-3: #AAAAAA;
}

svg.infinite {
    --colour-stroke-1: #9a00ab;
    --colour-stroke-2: #b116c3;
    --colour-stroke-3: #a028ae;
}

svg.gravity {
    --colour-stroke-1: #c67100;
    --colour-stroke-2: #c87c17;
    --colour-stroke-3: #c58338;
}

svg.heavenly {
    --colour-stroke-1: #006fab;
    --colour-stroke-2: #1676aa;
    --colour-stroke-3: #2e7da8;
}

svg.vivid {
    --colour-stroke-1: #ab00a8;
    --colour-stroke-2: #cf15cc;
    --colour-stroke-3: #aa26a8;
}

svg.exceed {
    --colour-stroke-1: #AB0000;
    --colour-stroke-2: #AB2020;
    --colour-stroke-3: #AB4040;
}